@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-space-indigo: #2b2d42;
  --color-lavender-grey: #8d99ae;
  --color-platinum: #edf2f4;
  --color-punch-red: #ef233c;
  --color-flag-red: #d90429;
}

@layer base {
  body {
    @apply font-sans bg-platinum text-space-indigo;
  }
}

@layer utilities {
  .subtle-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .subtle-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .subtle-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(141, 153, 174, 0.2);
    border-radius: 10px;
  }
  .subtle-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(141, 153, 174, 0.4);
  }
}
